// This file use for Main Layout Style
/*
    * [Default] Layout
    * This layot contains 2 things.
    * ┌────────────┐┐
    * │ NAV/HEADER │10% of screen
    * ├────────────┤┤
    * │   BODY     │90% of screen
    * │            ││
    * └────────────┘┘
*/

.layout {
    height: 100%;
    width: 100%;
    // position: fixed;
    // overflow-x: auto;
    overflow-x: hidden;
    &__main {
        &--background {
            position: fixed;
            background-image: url("./../img/background.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}